<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bootstrap Template</title>
<!--视口/视觉窗口标签:meta, 宽度=设备宽度，初始化缩放比例1， 是否允许用户缩放页面:no -->
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<!-- 扩展对低版本IE支持,开启IE兼容模式-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Bootstrap核心css -->
<link rel="stylesheet" type="text/css" href="../bootstrap3/css/bootstrap.css">
<!-- 字体图标 -->
<link rel="stylesheet" type="text/css" href="../bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
</head>
<body>
  Bootstrap 模版
</body>
<!-- jQuery 1.12.4 依赖 -->
<script type="text/javascript" src="../bootstrap3/jquery.min.js"></script>
<!-- Bootstrap核心js -->
<script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>
<!-- 图片占位，解决低版本IE不支持圆角的问题-->
<script type="text/javascript" src="../bootstrap3/js/holder.js"></script>
<!-- 引入T5和C3的js函数库，支持旧版浏览器-->
<script type="text/javascript" src="../bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript" src="../bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="../bootstrap3/js/respond.min.js"></script>
</html>